/**
 * Radical theme for reveal.js.
 * Author: Claudina Sarahe
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

@import 'compass';



// Include theme-specific fonts
$font-path: "../../lib/font";

@include font-face(BullenReg, "#{$font-path}/bullen-regular/bullen-regular");

@include font-face(BullenBold, "#{$font-path}/bullen-bold/bullen-bold", bold);

@include font-face(BullenItalic, "#{$font-path}/bullen-italic/bullen-italic", normal, italic);

@include font-face(BullenBoldItalic, "#{$font-path}/bullen-bolditalic/bullen-bolditalic", bold, italic);

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


.slide {
	height: 100%;
}

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Sass Colors
// http://sass-lang.com/styleguide/color/

$sasspink: #c69;

// Colors
$white: #fff;

$font-size-largest: 4.236em;
$font-size-large: 2.618em;
$font-size-normal: 1.618em;


// Override theme settings (see ../template/settings.scss)

// Primary/body text
$mainFont: 'BullenBold';
$mainFontSize: $font-size-normal;
$mainColor: $base1;
$headingColor: $yellow;
$heading2Color: $yellow;
$headingFont: 'BullenBold';
$headingTextShadow: none;
$backgroundColor: $base03;
$linkColor: $base1;
$linkColorHover: lighten( $magenta, 20% );
$selectionBackgroundColor: $magenta;

$primary-accent: $headingColor;
$secondary-accent: $cyan;
$tertiary-accent: $magenta;
$quandary-accent: $yellow;

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }

.primary-accent {
	color: $headingColor;
}

.secondary-accent {
	color: $cyan;
}

.tertiary-accent {
	color: $magenta;
}


.is-hidden {
	display: none
}

.reveal ul {
	margin-bottom: 2em;
}

// Better blockquotes
.reveal blockquote {
	font-family: 'BullenBoldItalic';
	font-weight: bold;
	position: relative;
	width: 80%;
	margin: 5px auto;
	padding: 20px;
	font-size: 2em;
	line-height: 1.5em;
	text-align: left;
	background: rgba($magenta, 0.05);
	box-shadow: none;
	border-left: 8px solid $violet;
}
	.reveal blockquote p:first-child,
	.reveal blockquote p:last-child {
		display: inline-block;
	}

.reveal .quotes {
	text-align: justify;
}


.trends figure {
	background: $white;
	border-radius: 1em;
}

.reveal h1 { font-size: $font-size-large; line-height: $font-size-largest; }
.reveal h2 { font-size: $font-size-large;	}
.reveal h4 { font-size: 1em;	}

.reveal {

	p {
		line-height: $font-size-normal;
	}

	h2 {
		color: $yellow;
		margin-bottom: 1em;
	}

	time {
		font-style: italic;
		margin-bottom: 20px;
		font-size: 0.9em;
		display: block;
	}

	figure {background: $white;}

	figcaption {
		font-size: .5em;
	}

	q {
	 	background: rgba($magenta, 1);
	 	color: $white;
	 	font-family: "BullenItalic";
	 	font-size: 1.25em;
	 	line-height: 1.4em;
	 }

	section img {border-color: $white !important;}
}

%slide-wrap-flex {
	.s-wrap {
		align-items: stretch;
		display: flex;
	}
}

.s-wrap {
	height: 100%;
}

.l-billboard {
	@extend %slide-wrap-flex;

	.pane {
		flex: 0 0 auto;
		vertical-align: center;
	}

}

.l-triptych {
	@extend %slide-wrap-flex;

	.pane {
		width: 33%;

		&:first-child {
			background: $secondary-accent;
		}
	}
}

.l-diptych {
	@extend %slide-wrap-flex;

	.pane {
		width: 50%;

		&:first-child {
			background: $secondary-accent;
		}
	}
}

// Theme template ------------------------------
@import "../theme/shears.scss";
// ---------------------------------------------
